@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

.NavBar {
  background-color: #1e3ad6;
  color: rgba(70, 204, 30, 0.952);
  font-family: 'Courier Prime', monospace;
}
